html{
    background-color: rgb(150, 189, 245, 1)
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 16px;
    color: #8fc13e;
    font-family: monospace;
  
}

body{
    margin: 10px;
    padding: 10px;
    border: 2px solid #ccc;
    border-radius: 10px;
    background-color: #322931;

}

h1{
    font-size: 2.5rem;
    color: #fd8b19;
}

#output{
    margin: 10px;
    padding: 10px;
   font-size:  2rem;
}

button{
    width: 100px;
    padding: 20px;
    border-radius: 10px;
    margin: 0 auto;
    border: none;
    background-color: rgb(131, 204, 226);
    margin-left: 50%;
    transform: translate(-50%);
    color: #dd464c;
}
hr{
    margin-top: 20px;
    width: 100%;
}

#tempo{
   display: flex;
   justify-content: center;
   margin: 50px 0;
    
}

#tempo #resposta{
    border: 3px solid rgb(236, 187, 127);
    border-radius: 10px;
    background-color: rgb(124, 99, 68);
    margin: 5px;
    padding: 5px;

}
#tempo span{
    font-size: 10rem;
    color: rgb(236, 187, 127);



}

#minutos,#segundos{
    background-color: rgb(182, 147, 105);
    border-radius: 5px;
    border:1px solid rgb(240, 195, 144);
  

}

